.login_main {
  display: grid;
  height: 100vh;
  place-items: center;
}
.login_body {
  display: flex;
  height: 77vh;
  width: 70vw;
  box-shadow: 0px 2px 3px 2px rgb(112 111 111);
}

.left_body {
  /* background-color: brown; */
  flex: 0.3;
  height: 80vh;
  /* width: 30vw; */
}

.left_body > img {
  height: 77vh;
  width: 36vw;
}

.right_body {
  flex: 0.7;
  flex-direction: column;
  width: 70vh;
  overflow-y: auto;
}

.right_body_field > form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 100px;
  /* border-bottom: 1px solid black; */
}

.icon {
  display: flex;
  align-items: center;
}
.icon > input {
  border: none;
  outline: none;
  width: 100%;
  height: 34px;
  margin-left: 20px;
  border-bottom: 0.2px solid rgb(163, 157, 157);
}

.icon > input:hover {
  background-color: rgb(236, 236, 236);
}

.right_body_field > h2 {
  margin-top: 10px;
  padding: 10px;
  font-size: 50px;
}

.login_button {
  margin-top: 50px;
  margin-left: 10px;
}
